.img {
    width: 50%;
    float: left;

}

.content{


float: left;
margin-top: -53.5%;
padding-bottom: 18.6%;
margin-left: 46%;
background-color: black;
width: 50%;
box-sizing: border-box;


}

.a1 {
    margin-left: 30%;
    text-align: center;
    background-color: rgb(88, 188, 255);
    width: 50%;
    border: 5px; 
    border-radius:17px ;
    padding: 10px;
    padding-left: 110Px;
    padding-right: 100px;
    color: rgb(255, 255, 255);
}

.a2 {
    
    margin-left: 30%;
    text-align: center;
    background-color: rgb(88, 188, 255);
    /* width: 60%; */
    border-radius:17px ;
    padding: 10px;
    padding-left: 118px;
    padding-right: 100px;
    margin-top: 20%;    
    color: cyan;
}
.btn1{
    padding: 0.7rem;
    width: 45%;
    border-radius: 20px 20px;
    background-color: rgb(88, 188, 255);
}
.btn2{
    padding: 0.7rem;
    width: 45%;
    border-radius: 20px 20px;
    background-color: black;
    border: 2px solid rgb(88, 188, 255);
    margin-top: 20px;
}
.btn1, .btn2 > a{
    color: whitesmoke;
    font-weight: bold;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 500%;
    text-align: center
}
h3{
    color: rgb(255, 255, 255);
    font-size: 250%;
    text-align: left;
    margin-left: 10%;
}

* {
    box-sizing: border-box;
}